/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
.ezik {
    background: #C39103;
}
.logo-image {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search input[type="search"] {
    background-color: #ECEBE8; /* Change this color to your desired input background color */
    border: none; /* Remove default input border if desired */
    border-radius: 40px; /* Adjust border-radius if needed */
    padding: 8px; /* Adjust padding as required */
    color: #000; /* Input text color */
}
    .search button {
    background-color: #ECEBE8; /* Change this color to your desired input background color */
    border:none;
    border-radius: 40px; /* Adjust border-radius if needed */
    padding: 8px; /* Adjust padding as required */
    color: #000; /* Input text color */
}
.language{
    padding-right: 20px;
    align-content:center;
}
.search {
    border-left: 3px solid black;
    margin-right: 10px;
    background: #ECEBE8;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #C39103;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
