<div class="container profile-container fs-6">
	<div class="row">
		<div class="col-5">
			<div class="row rounded-4 content-small p-3 mb-3 justify-content-center">
				<div class="col-12 text-center">
					<img src="~/G_icon.png" alt="Georgi" />
					<div class="fs-1">Georgi Petrov</div>
					<div class="fs-5">Guest</div>
				</div>
			</div>

			<div class="row content-small">
				<h4><b>Georgi's confirmed information</b></h4>
				<p>email adress</p>
				<h4><b>Verify your identity</b></h4>		
				<p>Before you book and Host on Airbnb, you'll need to complete this step</p>
				<button type="button" class="btn btn-light col-4">Get Verified</button>
			</div>
		</div>

		<div class="content-large col-7">
			<h1>About Georgi</h1>
			<div class="profile-content">
				<div class="bio row">
					<button type="button" class="btn btn-light col-2">Edit Profile</button>
				</div>
				<div class="bio row">
					<div class="col-6 bold">Where I went to school: Example School</div>
					<div class="col-6 bold">My biography title: Some biographical title</div>
					<div class="col-6 bold">Speaks Afrikaans and Albanian</div>
					<div class="col-6 bold">Lives in Kazanluk, Bulgaria</div>

					<p class="fs-6 col-12">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mollis orci vitae ipsum vulputate elementum. Nunc odio risus, vulputate nec quam et, ultrices condimentum quam. Nulla libero metus, accumsan eget
						malesuada eu, tempor et tortor. Pellentesque consequat sodales arcu, in sagittis augue placerat non. Mauris sollicitudin augue est, aliquet aliquet ipsum semper a. Nam vulputate porttitor ornare.
					</p>
				</div>
			</div>
			<span class="badge text-bg-light">Animals</span>
			<span class="badge text-bg-light">Baseball</span>
			<span class="badge text-bg-light">Board games</span>
			<span class="badge text-bg-light">Cooking</span>
			<span class="badge text-bg-light">Reading</span>
			<span class="badge text-bg-light">Ultimate frisebee</span>
		</div>
	</div>
</div>
