@model cottages_asp.Models.UpdateBuildingViewModel
@{
	Layout = "_AdminLayout";
}

<h1>Edit Building</h1>​

<form method="post" action="Update" class="mt-5">​

     <div class="mb-3">​

        <label for="" class="form-label">BuildingId</label>​

        <input type="text" class="form-control" asp-for="BuildingId">​

    </div>​

    <div class="mb-3">​

        <label for="" class="form-label">Location</label>​

        <input type="text" class="form-control" asp-for="Location">​

    </div>​
     <div class="mb-3">​

        <label for="" class="form-label">Name</label>​

        <input type="text" class="form-control" asp-for="Name">​

    </div>​
     <div class="mb-3">​

        <label for="" class="form-label">Description</label>​

        <input type="text" class="form-control" asp-for="Description">​

    </div>​
     <div class="mb-3">​

        <label for="" class="form-label">Review</label>​

        <input type="text" class="form-control" asp-for="Review">​

    </div>​

​
    <button type="submit" class="btn btn-primary">Submit</button>​

</form>​
