@model cottages_asp.Models.AddCategoryViewModel


<h1>Add Category</h1>​

<form method="post" action="Add" class="mt-5">​

   
     <div class="mb-3">​

        <label for="" class="form-label">Name</label>​

        <input type="text" class="form-control" asp-for="Name">​

    </div>​
     <div class="mb-3">​

        <label for="" class="form-label">Icon</label>​

        <input type="text" class="form-control" asp-for="Icon">​

    </div>​

​
    <button type="submit" class="btn btn-primary">Submit</button>​

</form>​
