@model cottages_asp.Models.UpdateCategoryViewModel


<h1>Edit Category</h1>​

<form method="post" action="Update" class="mt-5">​

     <div class="mb-3">​

        <label for="" class="form-label">CategoryId</label>​

        <input type="text" class="form-control" asp-for="CategoryId">​

    </div>​

     <div class="mb-3">​

        <label for="" class="form-label">Name</label>​

        <input type="text" class="form-control" asp-for="Name">​

    </div>​
     <div class="mb-3">​

        <label for="" class="form-label">Icon</label>​

        <input type="text" class="form-control" asp-for="Icon">​

    </div>​


​
    <button type="submit" class="btn btn-primary">Submit</button>​

</form>​
