<div class="container">
	<div class="text-center">
		<h1>Log In</h1>
	</div>
	<div class="row justify-content-center my-5 ">
		<div class="col-lg-6">
			<form action="">
				<input type="email"
					   name="email"
					   placeholder="Your Email"
					   class="spacing-class form-control" />

				<input type="password"
					   name="password"
					   placeholder="Password"
					   class="form-control" />

				<button type="button" class="submit-button btn btn-primary btn-block">Log In</button>
				<div class="account-register">Don't have an account? You can register <a asp-action="Register">here!</a></div>
				<div class="forgot-password"> <a href="">Forgot password?</a></div>
			</form>
		</div>
	</div>
</div>
