<footer class="row footer bg-dark justify-content-center">
	<div class="col-4">
		<div class="logo row justify-content-center align-items-center h-100">
			<div class="col-10 footer-logo"><partial name="Components/_LogoLight" /></div>
		</div>
	</div>
	<div class="col-2">
		<div class="row justify-content-center flex-column">
			<div class="col-12 mb-2 text-secondary">&nbsp;</div>
			<div class="col-12 mb-1 flex-fill">Home</div>
			<div class="col-12 mb-1 flex-fill">Hotels</div>
			<div class="col-12 mb-1 flex-fill">Contact us</div>
		</div>
	</div>
	<div class="col-2">
		<div class="row justify-content-center flex-column">
			<div class="col mb-2 flex-fill text-secondary">About us</div>
			<div class="col mb-1 flex-fill">Privacy Policy</div>
			<div class="col mb-1 flex-fill">Terms of Service</div>
			<div class="col mb-1 flex-fill">Cookie Policy</div>
		</div>
	</div>
	<div class="col-2">
		<div class="row justify-content-center flex-column">
			<div class="col-12 mb-2 text-secondary">&nbsp;</div>
			<div class="col mb-1 flex-fill">Privacy Policy</div>
			<div class="col mb-1 flex-fill">Terms of Service</div>
			<div class="col mb-1 flex-fill">Cookie Policy</div>
		</div>
	</div>
</footer>
