@{
	int[] arr = new int[] { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17 };
}
<div class="container">
	<div class="row gy-4">
		@foreach (var i in arr)
		{
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
				<div class="item-card">
					<div class="button-overlay">
						<img src="images/house.jpg" class="img-responsive w-100">
						<i class="heart-icon fa-regular fa-heart"></i>
					</div>
					<div class="card-content">
						<div class="row">
							<div class="col-8 fatter-text">
								<a href="#" class="fatter-text">Osaka city, Japan</a>
							</div>
							<div class="tittle col-4">
								<i class="fa-regular fa-star"></i> 5.0
							</div>
						</div>
						<div class="review">City cool views</div>
						<div class="review ">Apr 2 - 8</div>
						<div class="fatter-text">200&euro; night</div>
					</div>
				</div>
			</div>
		}
	</div>
</div>
