.item-card {
	background-color: rgb(0, 0, 0, 0.03);
	border-radius: 25px;
}

.card-content {
	padding: 7px;
	padding-top: 2px;
}

.fatter-text {
	color: #000;
	font-size: 19px;
	text-decoration: none;
}

.button-overlay {
	position: relative;
	display: inline-block;
}

.heart-icon {
	position: absolute;
	top: 15%;
	left: 85%;
	transform: translate(-5%, -95%);
	font-size: 30px;
	color: #fff;
	opacity: 0.85;
}
