@{
    ViewData["Title"] = "Home Page";
}

<body>

    <div class="banner">
        <img src="~/images/back.jpg" alt="ChristmasP">
    </div>

   <div class="content">

       <h1>CHOOSE YOUR DREAM DESTINATION</h1>

       <p > Everybody has weak spot adventures choose yours here!</p>

       <div>
            <button  type="button"><span></span>DESTINATIONS</button>
            <button type="button"><span></span>YOUR PROFILE </button>
      </div>
    </div>
  

</body>

