@{
    Layout = "_LayoutHome";
    ViewData["Title"] = "Home Page";
}

<div class="banner">
</div>

<div class="content">

    <h1>CHOOSE YOUR DREAM DESTINATION</h1>

    <p > Everybody has weak spot adventures choose yours here!</p>

    <div>
        <button type="button" class="home-btn"><span class="home-btn-anim"></span>DESTINATIONS</button>
        <button type="button" class="home-btn"><span class="home-btn-anim"></span>YOUR PROFILE </button>
    </div>
</div>
