@{
    Layout = "_LayoutHome";
    ViewData["Title"] = "Home Page";
}

<div class="banner">
</div>

<div class="content">

    <h1>CHOOSE YOUR DREAM DESTINATION</h1>

    <p > Everybody has weak spot adventures choose yours here!</p>

    <div>
        <a class="btn home-btn" asp-controller="Search" asp-action="Index"><span class="home-btn-anim"></span>DESTINATIONS</a>
        <a class="btn home-btn" asp-controller="Profile" asp-action="Index"><span class="home-btn-anim"></span>YOUR PROFILE </a>
    </div>
</div>
