@{
	ViewData["Title"] = "Privacy Policy";
}
<h1>Cottages Booking Website @ViewData["Title"]</h1>

<div>
	Effective Date: 01.01.2024
</div>
<div>
	Thank you for choosing Cottages, your premier destination for exceptional cottage experiences. At Cottages, we are committed to safeguarding your privacy and ensuring the security of your personal information. This comprehensive Privacy Policy details how we collect, use, disclose, and protect your information as you engage with our website and services. By using Cottages, you signify your consent to the terms of this Privacy Policy.
</div>
<div>
	<div class="h2">1. Information We Collect</div>
	<div class="h5">1.1 Personal Information</div>
	When you create an account, make a reservation, or contact us, we collect personal information such as your name, email address, phone number, and billing details. This information is essential for facilitating bookings and ensuring a seamless customer experience.
</div>
<div>
	<div class="h5">1.2 Usage Information</div>
	In order to enhance our services and customize your experience, we automatically collect data on your interactions with our website. This includes your IP address, device information, and browsing activity.
</div>
<div>
	<div class="h2">2. How We Use Your Information</div>
	<div class="h5">2.1 Booking and Reservations</div>
	Your personal information is primarily used to process bookings, reservations, and related transactions. We send confirmation emails, updates, and pertinent information to ensure you have a smooth and enjoyable stay.
</div>
<div>
	<div class="h5">2.2 Communication</div>
	We may use your contact information to communicate with you regarding your bookings, respond to customer support inquiries, and provide information on promotional offers. You have the option to opt-out of promotional emails at any time.
</div>
<div>
	<div class="h5">2.3 Improving Our Services</div>
	To enhance our website, services, and overall customer experience, we analyze user behavior. This involves the use of aggregated and anonymized data for analytics purposes, helping us make informed decisions on improvements.
</div>
<div>
	<div class="h2">3. Information Sharing</div>
	<div class="h5">3.1 Service Providers</div>
	We may share your information with trusted third-party service providers who assist us in delivering our services. This includes payment processors and customer support services, ensuring a high standard of service for our users.
</div>
<div>
	<div class="h5">3.2 Legal Compliance</div>
	In certain circumstances, we may disclose your information as required by law, regulation, or legal process. This may be necessary to protect the rights, property, or safety of Cottages, our users, or others.
</div>
<div>
	<div class="h2">4. Data Security</div>
	While we implement reasonable security measures to protect your personal information, it's important to note that no method of transmission over the internet or electronic storage is 100% secure. We continuously strive to employ industry-standard practices to safeguard your data.
</div>
<div>
	<div class="h2">5. Your Choices</div>
	You have the ability to update your account information, manage communication preferences, and opt-out of promotional emails through your account settings. We believe in empowering you with control over your personal information.
</div>
<div>
	<div class="h2">6. Changes to This Privacy Policy</div>
	We reserve the right to update and modify this Privacy Policy to reflect changes in our practices and services. Notice of any material changes will be provided by posting the updated policy on our website.
</div>
<div>
	<div class="h2">7. Contact Us</div>
	If you have any questions or concerns about our Privacy Policy, please do not hesitate to contact us at [contact email]. We value your feedback and are committed to addressing any inquiries promptly.
</div>
<div class="fw-bold">
	By utilizing the services of Cottages, you acknowledge that you have read and agree to this Privacy Policy.
</div>
<div class="fw-bold">
	Thank you for entrusting your cottage experiences to Cottages!
</div>
<div class="fst-italic text-end">
	<div>Cottages Inc.</div>
	<div>New York, 152 Cantebury Drive</div>
</div> 
