@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
	<h2>Grand Lux</h2>
</div>
<div class="gallery-container">
	<div class="gallery">
		<a data-fancybox="gallery" href="images/hotel1.jpg"><img src="images/hotel1.jpg" alt="Hotel Front 1"></a>
		<a data-fancybox="gallery" href="images/hotel2.jpg"><img src="images/hotel2.jpg" alt="Hotel Front 1"></a>
		<a data-fancybox="gallery" href="images/hotel3.jpg"><img src="images/hotel3.jpg" alt="Hotel Front 1"></a>
		<a data-fancybox="gallery" href="images/hotel4.jpg"><img src="images/hotel4.jpg" alt="Hotel Front 1"></a>
		<a data-fancybox="gallery" href="images/hotel5.jpg"><img src="images/hotel5.jpg" alt="Hotel Front 1"></a>
		<a data-fancybox="gallery" href="images/hotel6.jpg"><img src="images/hotel6.jpg" alt="Hotel Front 1"></a>
		<a data-fancybox="gallery" href="images/hotel6.jpg"></a>
		<a data-fancybox="gallery" href="images/hotel6.jpg"></a>


	</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
<script>
	$(document).ready(function () {
		$("[data-fancybox='gallery']").fancybox({
			loop: true,
			buttons: [
				"zoom",
				"slideShow",
				"fullScreen",
				"download",
				"thumbs",
				"close"
			],
		});
	});
</script>
<div class="container">
	<h2>Who is hosting the villa</h2>
	<div class="row">
		<div class="col-7" style="padding-right: 20px;">

			<div class="content-section">
				<h2>tuka im kontent</h2>
				<div class="mini-Profile"><img src="images/Screenshot_1.png" class="rounded-circle" alt="nqma" width="57px" height="57px" style="margin-left:10px ;"><span style="margin-left: 45px;">Ivancho</span></div>
				<div class="udobstva">
					<span style="margin-left: 15px;"> udobstvo edno </span>
					<p><span style="font-size: 20px; margin-left: 15px;">opisanie edno</span></p>
				</div>
				<div class="opisanie">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis nunc ut lacus tincidunt porta. Morbi id magna ut ante semper hendrerit. Proin ullamcorper, leo a luctus lobortis, elit eros maximus odio, a aliquet purus purus id eros. Aliquam id nibh porta, tempus arcu ut, auctor mi. Nunc et enim blandit, varius magna sit amet, tincidunt augue. Nulla pellentesque magna vel ullamcorper mollis. Fusce magna leo, convallis sodales massa sed, venenatis vestibulum leo. Curabitur scelerisque egestas enim vel mollis. Fusce dictum lacus ut elit posuere auctor. Aliquam nec orci ornare, cursus dui at, luctus diam. Praesent tellus magna, scelerisque in arcu at, gravida vestibulum mi. Duis eros ipsum, scelerisque vitae lacinia et, tincidunt fringilla purus. Donec tincidunt convallis quam eget condimentum. Quisque hendrerit augue non aliquam placerat. Integer vestibulum malesuada metus, a posuere metus porta a. Nullam vitae bibendum augue, vel gravida nisi.
					<br>
					Sed nec purus non libero bibendum fermentum. Aliquam mattis elit non urna consectetur, eu facilisis dui posuere. Donec bibendum convallis urna at vestibulum. Sed vitae purus lectus. Pellentesque et urna est. Sed ac purus eu lectus auctor venenatis. Vestibulum luctus tincidunt interdum. Quisque sit amet ex lectus.
					<br>
					Ut commodo purus sed cursus lobortis. Suspendisse ut condimentum arcu. Fusce risus lacus, cursus sit amet est et, luctus efficitur orci. Sed tristique orci nibh, vitae consectetur urna ultrices a. Duis mattis facilisis semper. Ut tristique commodo ultrices. Donec ultrices sapien quis congue tincidunt.
				</div>

			</div>
		</div>
		<div class="col-5" style="padding:30px;">

			<div class="sidebar-item">
				<div class="make-me-sticky">
					<h3 style="padding: 20px;">
						1000lv
					</h3>
					<div>
						<div class="date-picker" style="justify-content: center;">
							<input type="date" id="start-date" name="start-date">
							<input type="date" id="end-date" name="end-date">
						</div>
					</div>
					<div> <button type="button" class="btn btn-success">Kolko struva</button></div>


				</div>
			</div>
		</div>
	</div>
</div>