.content-section {
    min-height: 2000px;
  }
.sidebar-section {
    position: absolute;
    height: 100%;
    width: 100%;
  }
.sidebar-item {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-radius: 2px;
    border: solid 4px; 
    background-color:rgb(103, 255, 123);
  }  
.make-me-sticky {
      position: sticky;
      top: 0;
  }
body {
    background: #ECEBE8;
}
  
  
  .content-section{
    background: #fff;
    border-radius: 12px;
    border-top: solid 2px rgb(71, 71, 71);
    border-bottom: solid 10px #d6d6d6;
  }
  .title-section{
    background: #fff;
    border-radius: 2px;
    border: solid 4px #808080; 
  }
  
.title-section {
    text-align: center;
    padding: 50px 15px;
    margin-bottom: 30px;
  }
  
.content-section h2 {
    text-align: center;
    margin: 0;
    padding-top: 20px;
  }
  
.sidebar-item {
    text-align: center;
   
    h3 {
      background: rgb(103, 255, 123);
      max-width: 100%;
      border-bottom: solid 1px #fff;
    }
  }
  .mini-Profile{
    font-size: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    max-width: auto;
    border-width: 1px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to right, 
        #9c9c9c, 
        rgba(0, 0, 0, 0)
      ) 100% 1;
  }
  .udobstva{
    font-size: 20px;
    padding: 30px;
    max-width: auto;
    border-width: 1px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to right, 
        #9c9c9c, 
        rgba(0, 0, 0, 0)
      ) 100% 1;
      border-top: 0;
      border-left:0;
      border-right:0; 
  }
  .opisanie{
    font-size: 21px;

    max-width: auto;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to right, 
        #9c9c9c, 
        rgba(0, 0, 0, 0)
      ) 100% 1;
      border-top: 0;
      border-left:0;
      border-right:0; 
  }
  .date-picker {
    display: flex;
    gap: 1px;
}
#start-date{
  border-radius: 15px 0px 0px 15px
}
#end-date{
  border-radius: 0px 15px 15px 0px

}