<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sign Up</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
			crossorigin="anonymous"
		/>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
			crossorigin="anonymous"
		></script>
		<link rel="stylesheet" href="Page.css">
	</head>

	<body ">
		<div class="small 15 medium-7 large-5 float left">
			<div class="container" style="color: white;">
				<h1>Contact Us</h1>
		</div>
		<div class="padding">
			<div class="col-lg-6">
					
				<form  action="">
					
					<input
					    
						type="name"
						name="name"
						placeholder="Your Name"
						class="spacing-class form-control"
						required
					/>
					<h2 class="padding"></h2>
					<input
						type="email"
						name="email"
						placeholder="Your Email"
						class="spacing-class form-control"
						required
					/>
					<h2 class="padding"></h2>
					<input
						type="phonenumber"
						name="phonenumber"
						placeholder="Your Phone Number"
						class="spacing-class form-control"
						required
					/>
					<h2 class="padding"></h2>
					<input
						type="problem"
						name="problem"
						placeholder="Tell us what kind of problem we'll be solving"
						class="form-control"
						required
					/>
					<h2 class="padding"></h2>
					<button type="button" class="submit-button btn button">Send Message</button>
				</form>
				
			</div>
		</div>
				
		</div>
		</div>
        <div  class=" container 15 medium-7 large-5 float right ">
			<h1 style="color: white;">Headquaters address</h1>
			<h3 style="color: white;">Address1</h3>
			<h3 style="color: white;">Address2</h3>
			<h3 style="color: white;">Address3</h3>
			<h3 style="color: white;">Email</h3>
		</div>
	</body>
</html>